// RESET CSS

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    scroll-behavior: smooth;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

a {
    text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    border-radius: 0;
}

// STYLE PORTOLIO

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('/fonts/Montserrat-SemiBold.ttf');
}

:root {

    --white-1: #FFFFFF;
    --white-2: rgba(255, 255, 255, 0.8);
    --black-1: #191919;
    --black-2: #222222;
    --black-hover: #3B3B3B;
    --gray: #E4E4E9;
    --gray-2: #6B7280;
    --loader-bg: #00000036;

    --primary-purple: #7050ff;
    --hover-purple: #8367FF;

    --dark-blue: #1B1B20;

    --linear-1: linear-gradient(to left, #7050FF, #332181);
    --linear-2: linear-gradient(to bottom, #7050FF, rgba(112, 80, 255, 0));
    --linear-txt: linear-gradient(to right, #7050FF, #7C82FF);

    --montserrat-medium: 'Montserrat-Medium';
    --montserrat-regular: 'Montserrat-Regular';
    --montserrat-semibold: 'Montserrat-SemiBold';
}

// .txt-semiB {
//     font-family: var(--montserrat-semibold);
//     font-size: 1.25rem;
// }

// .tag-medium {
//     font-family: var(--montserrat-medium);
//     font-size: 1rem;
// }

// VERSION MOBILE

.white-txt-regular {
    font-family: var(--montserrat-regular);
    font-size: 0.88rem;
    color: var(--white-2);
}

.white-txt-regular-low {
    font-family: var(--montserrat-regular);
    font-size: 0.88rem;
    color: var(--white-1);
}

.tag-semiB {
    font-family: var(--montserrat-semibold);
    font-size: 1rem;
}

.white-txt-medium {
    font-family: var(--montserrat-medium);
    font-size: 1rem;
    color: var(--white-1);
}

h1 {
    font-family: var(--montserrat-semibold);
    color: var(--white-1);
    font-size: 2.25rem;
    text-transform: uppercase;
}

h2 {
    color: var(--primary-purple);
    font-size: 1.25rem;
    font-family: var(--montserrat-semibold);
    text-transform: uppercase;
}

.raw-limit-size {
    width: 100%;
    max-width: 375px;
}

.center {
    margin: 0 auto;
}

@keyframes spinner1 {
    0% {
        transform: rotate(0deg);
        border-width: 10px;
    }

    50% {
        transform: rotate(180deg);
        border-width: 1px;
    }

    100% {
        transform: rotate(360deg);
        border-width: 10px;
    }
}

@keyframes spinner2 {
    0% {
        transform: rotate(0deg);
        border-width: 1px;
    }

    50% {
        transform: rotate(180deg);
        border-width: 10px;
    }

    100% {
        transform: rotate(360deg);
        border-width: 1px;
    }
}

.loader-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: var(--black-1);
    opacity: .8;
    z-index: 999999;

    .loader-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .loader {
            position: relative;
            width: 84px;
            height: 84px;

            div {
                position: absolute;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                border: 10px solid transparent;
                border-top-color: var(--primary-purple);
                border-radius: 50%;
                animation: spinner1 1.3s linear infinite;

                &:nth-child(2) {
                    border: 10px solid transparent;
                    border-bottom-color: var(--primary-purple);
                    animation: spinner2 1.3s linear infinite;

                }
            }

        }
    }

}


.btn {
    border: none;
    border-radius: 84px;
    background-color: var(--primary-purple);
    width: auto;
    height: 40px;
    text-transform: uppercase;
    color: var(--black-1);
    font-family: var(--montserrat-semibold);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    transition: background-color ease-in .2s;
    padding: 0 24px;

    &:hover {
        cursor: pointer;
        background-color: var(--hover-purple);
    }

}

.dot {
    height: 6px;
    width: 6px;
    background-color: var(--black-1);
    border-radius: 50%;
}

.socials-container {
    background-color: var(--black-2);
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    transition: background-color ease-in .2s;

    &:hover {
        background-color: var(--black-hover);
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-purple);
        height: 100%;
        width: 100%;
    }

}

.stack-tag-projects {
    width: 36px;
    height: 36px; // 56 par 56 en desktop
    font-size: 24px; // 36px end desktop

    &:hover {
        font-size: 36px; // 40 px desktop
    }
}

.stack-tag-container {
    height: 48px; // 56 par 56 en desktop
    width: 48px;
    font-size: 26px; // 36px end desktop

    &:hover {
        font-size: 32px; // 40 px desktop
    }

}

.stack-tag-container,
.stack-tag-projects {

    border-radius: 16px;
    background-color: var(--black-2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-purple);
    transition: font-size ease-in .2s;

    &:hover {
        cursor: pointer;
        font-size: 32px; // 40 px desktop
    }
}

.label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-2);
    border-radius: 8px;
    width: auto;
    height: auto;
    padding: 16px;
    transition: background-color ease .2s;
    font-family: var(--montserrat-medium);
    color: var(--white-1);

    &:hover {
        background-color: var(--black-hover);
        cursor: pointer;
    }
}

.arrow-container {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-purple);
    border-radius: 50%;
    transition: background-color ease .2s;
    color: var(--white-1);

    &:hover {
        cursor: pointer;
        background-color: var(--hover-purple);
    }
}

.link-container {
    display: flex;
    gap: 4px;

    .icon {
        color: var(--primary-purple);
    }

    a {
        position: relative;
        display: inline-block;
        color: var(--primary-purple);
        font-family: var(--montserrat-semibold);
        font-size: 1rem;
        text-transform: uppercase;


        &::after {
            content: '';
            position: absolute;
            width: 25%;
            height: 2px;
            bottom: -4px;
            left: 0;
            background-color: var(--primary-purple);
            transition: width ease-in .2s;
        }

        &:hover {
            cursor: pointer;

            &::after {
                width: 100%;
            }
        }
    }

}

.hero {
    background-color: var(--black-2);
    height: 100svh;
    padding: 110px 16px 0 16px;
    position: relative;
    overflow: hidden;

    .presentation {
        position: relative;
        z-index: 1;

        p {
            color: var(--white-2);
            font-family: var(--montserrat-medium);
            margin-top: 16px;
            line-height: 1.2rem;
            font-size: 1rem;
        }

        .btn-container {
            margin-top: 16px;
            display: flex;
            gap: 16px;
        }

    }

    .glare {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 280px;
        height: 400px;
        border-radius: 50%;
        background: radial-gradient(var(--primary-purple), rgba(22, 4, 65, 0));
        filter: blur(90px);
    }

    .stack-section {
        margin-top: 64px;

        .stack-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }

}

.mt-10 {
    margin-top: 10px;
}

.about-section {
    padding: 64px 16px 64px 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-blue);

    p {
        margin-top: 16px;
        line-height: 1.2rem;
    }

    .white-txt-medium {
        margin-top: 64px;
    }

    .btn-container {
        margin-top: 48px;
        display: flex;
        gap: 12px;
    }

    .competences {
        margin-top: 64px;

        .labels-container {
            display: flex;
            gap: 16px;
        }
    }
}

.mt-16 {
    margin-top: 16px;
}

.mt-64 {
    margin-top: 64px;
}

.project-section {
    background-color: var(--dark-blue);
    padding: 64px 16px 64px 16px;

    h2 {
        text-align: center;
        margin-bottom: 64px;
    }
}

.contact-section {
    background-color: var(--black-2);
    padding: 64px 16px;

    h2 {
        color: var(--white-1);
        margin-bottom: 64px;
    }

    p,
    a {
        font-size: 1rem;
        font-family: var(--montserrat-regular);
    }

    p {
        color: var(--white-2);
    }

    a {
        position: relative;
        color: var(--white-1);

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: var(--primary-purple);
            bottom: -3px;
            left: 0;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .form-container {

        .msg-container {
            margin-top: 24px;
            padding: 16px;
            background-color: lightgreen;
            border: solid 2px green;
            border-radius: 12px;

            color: var(--black-1);
            font-size: 1rem;
            font-family: var(--montserrat-medium);
        }

        .input-container {
            display: flex;
            flex-direction: column;
            width: 100%;

            label,
            input,
            textarea {
                font-size: 1rem;
                color: var(--white-2);
                font-family: var(--montserrat-regular);
            }

            input,
            textarea {
                margin-top: 8px;
                background-color: var(--dark-blue);
                border: solid 2px var(--dark-blue);
                border-radius: 4px;
                padding: 12px 16px;
            }

            input {
                height: 54px;
            }

            textarea {
                height: 156px;
                resize: none;
            }
        }

        button {
            margin-top: 48px;
        }
    }

}

.mt-24 {
    margin-top: 24px;
}

.mt-32 {
    margin-top: 32px;
}


.one-project-container {
    display: flex;
    flex-direction: column;

    .img-section {
        padding: 40px 12px;
        background-color: var(--gray);
        border-radius: 12px 12px 0 0;

        .img-container {
            background-color: var(--dark-blue);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 260px;

            figure {
                width: 100%;

                img {
                    width: 100%;
                    display: block;
                }
            }
        }
    }

    .txt-section {
        background-color: var(--white-1);
        padding: 24px 16px;
        border-radius: 0 0 12px 12px;


        .description {
            height: 84px;
        }

        h3 {
            color: var(--black-1);
            font-size: 1rem;
            font-family: var(--montserrat-semibold);
        }

        p {
            line-height: 1.2rem;
            font-family: var(--montserrat-medium);
            margin-top: 16px;
        }

        h3,
        h4 {
            text-transform: uppercase;
        }

        p,
        li {
            color: var(--gray-2);
            font-size: 0.88rem;
        }

        h4 {
            margin-top: 24px;
        }


        .subtitle,
        h4 {
            color: var(--black-1);
            font-size: 0.88rem;
            font-family: var(--montserrat-medium);
        }

        .features {
            margin-top: 24px;

            ul {
                padding-left: 24px;
                padding-top: 8px;
                height: 208px;
            }

            li {
                list-style-type: disc;
                line-height: 1.5rem;
                font-family: var(--montserrat-regular);

            }
        }

        .role {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 24px;

            .span {
                color: var(--gray-2);
                font-size: 0.88rem;
                font-family: var(--montserrat-regular);

            }
        }

        .stack {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 24px;

            .stack-list {
                display: flex;
                gap: 8px;
            }
        }

        .link-container {
            margin-top: 48px;
        }

    }

    hr {
        border: none;
        border-top: 1px dashed var(--gray-2);
        height: 1px;
        width: 100%;
        margin-top: 24px;
    }
}

.slider {
    overflow: hidden;

    .slides {
        display: flex;
        transition: transform ease .4s;

        .one-project-container {
            width: 100%;
            flex: 0 0 100%;
            padding: .5rem;
        }

    }

    .change-slide-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        .dot-container {
            display: flex;
            gap: 15px;

            .dot {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                transition: background-color ease .4s;
                transition: opacity ease .2s;

                &:hover {
                    cursor: pointer;
                    opacity: .8;
                }
            }

            .is-active {
                background: var(--primary-purple);
            }

            .is-not-active {
                background-color: var(--black-hover);
            }

        }
    }
}

@media (min-width: 768px) {
    .raw-limit-size {
        max-width: 700px;
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.13rem;
    }

    .btn {
        height: 50px;
        padding: 0 24px;
    }

    .hero {

        h1,
        p {
            text-align: center;
        }
        .presentation {
            .btn-container {
                margin-top: 32px;
                justify-content: center;
            }
            
        }
    }

}