*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a {
  text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("/public/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("/public/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/public/fonts/Montserrat-SemiBold.ttf");
}
:root {
  --white-1: #FFFFFF;
  --white-2: rgba(255, 255, 255, 0.8);
  --black-1: #191919;
  --black-2: #222222;
  --black-hover: #3B3B3B;
  --primary-purple: #7050ff;
  --hover-purple: #8367FF;
  --dark-blue: #1B1B20;
  --linear-1: linear-gradient(to left, #7050FF, #332181);
  --linear-2: linear-gradient(to bottom, #7050FF, rgba(112, 80, 255, 0));
  --linear-txt: linear-gradient(to right, #7050FF, #7C82FF);
  --montserrat-medium: "Montserrat-Medium";
  --montserrat-regular: "Montserrat-Regular";
  --montserrat-semibold: "Montserrat-SemiBold";
}

.white-txt-regular {
  font-family: var(--montserrat-regular);
  font-size: 0.88rem;
  color: var(--white-2);
}

.white-txt-regular-low {
  font-family: var(--montserrat-regular);
  font-size: 0.88rem;
  color: var(--white-1);
}

.tag-semiB {
  font-family: var(--montserrat-semibold);
  font-size: 1rem;
}

.white-txt-medium {
  font-family: var(--montserrat-medium);
  font-size: 1rem;
  color: var(--white-1);
}

h1 {
  font-family: var(--montserrat-semibold);
  color: var(--white-1);
  font-size: 2.25rem;
  text-transform: uppercase;
}

h2 {
  color: var(--primary-purple);
  font-size: 1.25rem;
  font-family: var(--montserrat-semibold);
  text-transform: uppercase;
}

.raw-limit-size {
  width: 100%;
  max-width: 375px;
}

.center {
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 84px;
  background-color: var(--primary-purple);
  width: auto;
  height: 40px;
  text-transform: uppercase;
  color: var(--black-1);
  font-family: var(--montserrat-semibold);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  transition: background-color ease-in 0.2s;
  padding: 0 24px;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--hover-purple);
}

.dot {
  height: 6px;
  width: 6px;
  background-color: var(--black-1);
  border-radius: 50%;
}

.socials-container {
  background-color: var(--black-2);
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color ease-in 0.2s;
}
.socials-container:hover {
  background-color: var(--black-hover);
}
.socials-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-purple);
  height: 100%;
  width: 100%;
}

.stack-tag-projects {
  width: 36px;
  height: 36px;
  font-size: 24px;
}
.stack-tag-projects:hover {
  font-size: 36px;
}

.stack-tag-container {
  height: 48px;
  width: 48px;
  font-size: 26px;
}
.stack-tag-container:hover {
  font-size: 32px;
}

.stack-tag-container,
.stack-tag-projects {
  border-radius: 16px;
  background-color: var(--black-2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-purple);
  transition: font-size ease-in 0.2s;
}
.stack-tag-container:hover,
.stack-tag-projects:hover {
  cursor: pointer;
  font-size: 32px;
}

.label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-2);
  border-radius: 8px;
  width: auto;
  height: auto;
  padding: 16px;
  transition: background-color ease 0.2s;
  font-family: var(--montserrat-medium);
  color: var(--white-1);
}
.label-container:hover {
  background-color: var(--black-hover);
  cursor: pointer;
}

.arrow-container {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-purple);
  border-radius: 50%;
  transition: background-color ease 0.2s;
  color: var(--white-1);
}
.arrow-container:hover {
  cursor: pointer;
  background-color: var(--hover-purple);
}

.link-container {
  display: flex;
  gap: 4px;
}
.link-container .icon {
  color: var(--primary-purple);
}
.link-container a {
  position: relative;
  display: inline-block;
  color: var(--primary-purple);
  font-family: var(--montserrat-semibold);
  font-size: 1rem;
  text-transform: uppercase;
}
.link-container a::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--primary-purple);
  transition: width ease-in 0.2s;
}
.link-container a:hover {
  cursor: pointer;
}
.link-container a:hover::after {
  width: 100%;
}

.hero {
  background-color: var(--black-2);
  height: 100svh;
  padding: 110px 16px 0 16px;
  position: relative;
  overflow: hidden;
}
.hero .presentation {
  position: relative;
  z-index: 1;
}
.hero .presentation p {
  color: var(--white-2);
  font-family: var(--montserrat-medium);
  margin-top: 16px;
}
.hero .presentation .btn-container {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}
.hero .glare {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 400px;
  border-radius: 50%;
  background: radial-gradient(var(--primary-purple), rgba(22, 4, 65, 0));
  filter: blur(90px);
}
.hero .stack-section {
  margin-top: 64px;
}
.hero .stack-section .stack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.about-section {
  padding: 64px 16px 64px 16px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);
}
.about-section p {
  margin-top: 16px;
}
.about-section .white-txt-medium {
  margin-top: 64px;
}
.about-section .btn-container {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.about-section .competences {
  margin-top: 64px;
}
.about-section .competences .labels-container {
  display: flex;
  gap: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-64 {
  margin-top: 64px;
}

.project-section {
  background-color: var(--dark-blue);
  padding: 64px 16px 64px 16px;
}
.project-section h2 {
  text-align: center;
}

.contact-section {
  background-color: var(--black-2);
  padding: 64px 16px;
}
.contact-section h2 {
  color: var(--white-1);
  margin-bottom: 64px;
}
.contact-section p,
.contact-section a {
  font-size: 1rem;
  font-family: var(--montserrat-regular);
}
.contact-section p {
  color: var(--white-2);
}
.contact-section a {
  position: relative;
  color: var(--white-1);
}
.contact-section a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary-purple);
  bottom: -3px;
  left: 0;
}
.contact-section a:hover {
  cursor: pointer;
}
.contact-section .form-container .input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-section .form-container .input-container label,
.contact-section .form-container .input-container input,
.contact-section .form-container .input-container textarea {
  font-size: 1rem;
  color: var(--white-2);
  font-family: var(--montserrat-regular);
}
.contact-section .form-container .input-container input,
.contact-section .form-container .input-container textarea {
  margin-top: 8px;
  background-color: var(--dark-blue);
  border: solid 2px var(--dark-blue);
  border-radius: 4px;
  padding: 12px 16px;
}
.contact-section .form-container .input-container input {
  height: 54px;
}
.contact-section .form-container .input-container textarea {
  height: 156px;
  resize: none;
}
.contact-section .form-container button {
  margin-top: 48px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}/*# sourceMappingURL=style.css.map */