*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a {
  text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/fonts/Montserrat-SemiBold.ttf");
}
:root {
  --white-1: #FFFFFF;
  --white-2: rgba(255, 255, 255, 0.8);
  --black-1: #191919;
  --black-2: #222222;
  --black-hover: #3B3B3B;
  --gray: #E4E4E9;
  --gray-2: #6B7280;
  --loader-bg: #00000036;
  --primary-purple: #7050ff;
  --hover-purple: #8367FF;
  --dark-blue: #1B1B20;
  --linear-1: linear-gradient(to left, #7050FF, #332181);
  --linear-2: linear-gradient(to bottom, #7050FF, rgba(112, 80, 255, 0));
  --linear-txt: linear-gradient(to right, #7050FF, #7C82FF);
  --montserrat-medium: "Montserrat-Medium";
  --montserrat-regular: "Montserrat-Regular";
  --montserrat-semibold: "Montserrat-SemiBold";
}

.white-txt-regular {
  font-family: var(--montserrat-regular);
  font-size: 0.88rem;
  color: var(--white-2);
}

.white-txt-regular-low {
  font-family: var(--montserrat-regular);
  font-size: 0.88rem;
  color: var(--white-1);
}

.tag-semiB {
  font-family: var(--montserrat-semibold);
  font-size: 1rem;
}

.white-txt-medium {
  font-family: var(--montserrat-medium);
  font-size: 1rem;
  color: var(--white-1);
}

h1 {
  font-family: var(--montserrat-semibold);
  color: var(--white-1);
  font-size: 2.25rem;
  text-transform: uppercase;
}

h2 {
  color: var(--primary-purple);
  font-size: 1.25rem;
  font-family: var(--montserrat-semibold);
  text-transform: uppercase;
}

.raw-limit-size {
  width: 100%;
  max-width: 375px;
}

.center {
  margin: 0 auto;
}

@keyframes spinner1 {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}
@keyframes spinner2 {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 10px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 1px;
  }
}
.loader-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: var(--black-1);
  opacity: 0.8;
  z-index: 999999;
}
.loader-bg .loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader-bg .loader-container .loader {
  position: relative;
  width: 84px;
  height: 84px;
}
.loader-bg .loader-container .loader div {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: var(--primary-purple);
  border-radius: 50%;
  animation: spinner1 1.3s linear infinite;
}
.loader-bg .loader-container .loader div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: var(--primary-purple);
  animation: spinner2 1.3s linear infinite;
}

.btn {
  border: none;
  border-radius: 84px;
  background-color: var(--primary-purple);
  width: auto;
  height: 40px;
  text-transform: uppercase;
  color: var(--black-1);
  font-family: var(--montserrat-semibold);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  transition: background-color ease-in 0.2s;
  padding: 0 20px;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--hover-purple);
}

.dot {
  height: 6px;
  width: 6px;
  background-color: var(--black-1);
  border-radius: 50%;
}

.socials-container {
  background-color: var(--black-2);
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color ease-in 0.2s;
}
.socials-container:hover {
  background-color: var(--black-hover);
}
.socials-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-purple);
  height: 100%;
  width: 100%;
}

.stack-tag-projects {
  width: 36px;
  height: 36px;
  font-size: 24px;
}
.stack-tag-projects:hover {
  font-size: 36px;
}

.stack-tag-container {
  height: 48px;
  width: 48px;
  font-size: 26px;
}
.stack-tag-container:hover {
  font-size: 32px;
}

.html {
  transition: color ease 0.2s;
}
.html:hover {
  color: #F54927;
}

.css {
  transition: color ease 0.2s;
}
.css:hover {
  color: #1572B6;
}

.js {
  transition: color ease 0.2s;
}
.js:hover {
  color: #F7DF1E;
}

.react {
  transition: color ease 0.2s;
}
.react:hover {
  color: #61DAFB;
}

.vue {
  transition: color ease 0.2s;
}
.vue:hover {
  color: #42B883;
}

.sass {
  transition: color ease 0.2s;
}
.sass:hover {
  color: #CC6699;
}

.python {
  transition: color ease 0.2s;
}
.python:hover {
  color: #CC6699;
}

.stack-tag-container,
.stack-tag-projects {
  border-radius: 16px;
  background-color: var(--black-2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-purple);
  transition: font-size ease-in 0.2s;
}
.stack-tag-container:hover,
.stack-tag-projects:hover {
  cursor: pointer;
  font-size: 32px;
}

.label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-2);
  border-radius: 8px;
  width: auto;
  height: auto;
  padding: 16px;
  transition: background-color ease 0.2s;
  font-family: var(--montserrat-medium);
  color: var(--white-1);
}
.label-container:hover {
  background-color: var(--black-hover);
  cursor: pointer;
}

.arrow-container {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-purple);
  border-radius: 50%;
  transition: background-color ease 0.2s;
  color: var(--white-1);
}
.arrow-container:hover {
  cursor: pointer;
  background-color: var(--hover-purple);
}

.link-container {
  display: flex;
  gap: 4px;
}
.link-container .icon {
  color: var(--primary-purple);
}
.link-container a {
  position: relative;
  display: inline-block;
  color: var(--primary-purple);
  font-family: var(--montserrat-semibold);
  font-size: 1rem;
  text-transform: uppercase;
}
.link-container a::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--primary-purple);
  transition: width ease-in 0.2s;
}
.link-container a:hover {
  cursor: pointer;
}
.link-container a:hover::after {
  width: 100%;
}

.hero {
  background-color: var(--black-2);
  height: 100svh;
  padding: 110px 16px 0 16px;
  position: relative;
  overflow: hidden;
}
.hero .presentation {
  position: relative;
  z-index: 1;
}
.hero .presentation p {
  color: var(--white-2);
  font-family: var(--montserrat-medium);
  margin-top: 16px;
  line-height: 1.2rem;
  font-size: 1rem;
}
.hero .presentation .btn-container {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}
.hero .glare {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 400px;
  border-radius: 50%;
  background: radial-gradient(var(--primary-purple), rgba(22, 4, 65, 0));
  filter: blur(90px);
}
.hero .stack-section {
  margin-top: 64px;
}
.hero .stack-section .stack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.about-section {
  padding: 64px 16px 64px 16px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);
}
.about-section p {
  margin-top: 16px;
  line-height: 1.2rem;
}
.about-section .white-txt-medium {
  margin-top: 64px;
}
.about-section .btn-container {
  margin-top: 48px;
  display: flex;
  gap: 12px;
}
.about-section .competences {
  margin-top: 64px;
}
.about-section .competences .container {
  margin-top: 64px;
}
.about-section .competences .labels-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.mt-16 {
  margin-top: 16px;
}

.mt-64 {
  margin-top: 64px;
}

.project-section {
  background-color: var(--dark-blue);
  padding: 64px 16px 64px 16px;
}
.project-section h2 {
  text-align: center;
  margin-bottom: 64px;
}

.contact-section {
  background-color: var(--black-2);
  padding: 64px 16px;
}
.contact-section h2 {
  color: var(--white-1);
  margin-bottom: 64px;
}
.contact-section p,
.contact-section a {
  font-size: 1rem;
  font-family: var(--montserrat-regular);
}
.contact-section p {
  color: var(--white-2);
}
.contact-section a {
  position: relative;
  color: var(--white-1);
}
.contact-section a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary-purple);
  bottom: -3px;
  left: 0;
}
.contact-section a:hover {
  cursor: pointer;
}
.contact-section .form-container .msg-container {
  margin-top: 24px;
  padding: 16px;
  background-color: lightgreen;
  border: solid 2px green;
  border-radius: 12px;
  color: var(--black-1);
  font-size: 1rem;
  font-family: var(--montserrat-medium);
}
.contact-section .form-container .input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-section .form-container .input-container label,
.contact-section .form-container .input-container input,
.contact-section .form-container .input-container textarea {
  font-size: 1rem;
  color: var(--white-2);
  font-family: var(--montserrat-regular);
}
.contact-section .form-container .input-container input,
.contact-section .form-container .input-container textarea {
  margin-top: 8px;
  background-color: var(--dark-blue);
  border: solid 2px var(--dark-blue);
  border-radius: 4px;
  padding: 12px 16px;
}
.contact-section .form-container .input-container input {
  height: 54px;
}
.contact-section .form-container .input-container textarea {
  height: 156px;
  resize: none;
}
.contact-section .form-container button {
  margin-top: 48px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.one-project-container {
  display: flex;
  flex-direction: column;
}
.one-project-container .img-section {
  padding: 48px 12px;
  background-color: var(--gray);
  border-radius: 12px 12px 0 0;
}
.one-project-container .img-section .img-container {
  background-color: var(--dark-blue);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.one-project-container .img-section .img-container figure {
  width: 100%;
}
.one-project-container .img-section .img-container figure img {
  width: 100%;
  display: block;
}
.one-project-container .txt-section {
  background-color: var(--white-1);
  padding: 24px 16px;
  border-radius: 0 0 12px 12px;
}
.one-project-container .txt-section .description {
  height: 84px;
}
.one-project-container .txt-section h3 {
  color: var(--black-1);
  font-size: 1rem;
  font-family: var(--montserrat-semibold);
}
.one-project-container .txt-section p {
  line-height: 1.2rem;
  font-family: var(--montserrat-medium);
  margin-top: 16px;
}
.one-project-container .txt-section h3,
.one-project-container .txt-section h4 {
  text-transform: uppercase;
}
.one-project-container .txt-section p,
.one-project-container .txt-section li {
  color: var(--gray-2);
  font-size: 0.88rem;
}
.one-project-container .txt-section h4 {
  margin-top: 24px;
}
.one-project-container .txt-section .subtitle,
.one-project-container .txt-section h4 {
  color: var(--black-1);
  font-size: 0.88rem;
  font-family: var(--montserrat-medium);
}
.one-project-container .txt-section .features {
  margin-top: 24px;
}
.one-project-container .txt-section .features ul {
  padding-left: 24px;
  padding-top: 8px;
  height: 208px;
}
.one-project-container .txt-section .features li {
  list-style-type: disc;
  line-height: 1.5rem;
  font-family: var(--montserrat-regular);
}
.one-project-container .txt-section .role {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.one-project-container .txt-section .role .span {
  color: var(--gray-2);
  font-size: 0.88rem;
  font-family: var(--montserrat-regular);
}
.one-project-container .txt-section .stack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.one-project-container .txt-section .stack .stack-list {
  display: flex;
  gap: 8px;
}
.one-project-container .txt-section .link-container {
  margin-top: 48px;
}
.one-project-container hr {
  border: none;
  border-top: 1px dashed var(--gray-2);
  height: 1px;
  width: 100%;
  margin-top: 24px;
}

.slider {
  overflow: hidden;
}
.slider .slides {
  display: flex;
  transition: transform ease 0.4s;
}
.slider .slides .one-project-container {
  width: 100%;
  flex: 0 0 100%;
  padding: 0.5rem;
}
.slider .change-slide-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.slider .change-slide-container .dot-container {
  display: flex;
  gap: 15px;
}
.slider .change-slide-container .dot-container .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: background-color ease 0.4s;
  transition: opacity ease 0.2s;
}
.slider .change-slide-container .dot-container .dot:hover {
  cursor: pointer;
  opacity: 0.8;
}
.slider .change-slide-container .dot-container .is-active {
  background: var(--primary-purple);
}
.slider .change-slide-container .dot-container .is-not-active {
  background-color: var(--black-hover);
}

@media (min-width: 768px) {
  .raw-limit-size {
    max-width: 700px;
  }
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.13rem;
  }
  .btn {
    height: 48px;
    padding: 0 32px;
  }
  .socials-container {
    width: 48px;
    height: 48px;
  }
  .socials-container svg {
    width: 24px;
    height: 24px;
  }
  .hero h1,
  .hero p {
    text-align: center;
  }
  .hero .presentation .btn-container {
    margin-top: 32px;
    justify-content: center;
  }
  .stack-tag-container {
    width: 56px;
    height: 56px;
    font-size: 2rem;
  }
  .stack-tag-container:hover {
    font-size: 2.5rem;
  }
  .competences .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
  }
  .competences .container .mt-16 {
    margin-top: 0;
  }
  .one-project-container .txt-section h3 {
    font-size: 1.25rem;
    min-height: 1.25rem;
  }
  .one-project-container .txt-section p,
  .one-project-container .txt-section h4,
  .one-project-container .txt-section .subtitle,
  .one-project-container .txt-section li {
    font-size: 1rem;
  }
  .one-project-container .txt-section .features li {
    line-height: 2.25rem;
  }
}
@media (min-width: 1024px) {
  .raw-limit-size {
    max-width: 884px;
  }
  .white-txt-regular,
  .white-txt-regular-low {
    font-size: 1rem;
  }
  .white-txt-medium {
    font-size: 1.125rem;
  }
}
.contact-section .form-container .msg-container {
  margin-bottom: 24px;
  margin-top: 0;
}

@media (min-width: 1200px) {
  .raw-limit-size {
    max-width: 1000px;
  }
  .hero h1 {
    margin: 0 auto;
    max-width: 600px;
  }
  .hero p {
    margin: 32px auto;
    max-width: 800px;
  }
  .about-section .competences {
    margin-top: 0;
  }
  .about-section-container {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
  }
  .about-section .about-me {
    width: 100%;
  }
  .about-section .competences {
    margin-top: 0;
    width: 100%;
  }
  .about-section .competences .container {
    justify-content: flex-start;
  }
  .one-project-container {
    flex-direction: row;
  }
  .one-project-container .img-section {
    border-radius: 12px 0 0 12px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .one-project-container .txt-section {
    border-radius: 0 12px 12px 0;
  }
  .contact-container {
    display: flex;
    gap: 3rem;
  }
  .contact-container .contact-infos {
    width: 100%;
  }
  .contact-container .contact-infos h2 {
    font-size: 2.25rem;
  }
  .contact-container .form-container {
    width: 100%;
  }
  .contact-container .form-container form .mt-32 {
    margin-top: 0;
  }
}
@media (min-width: 1400px) {
  .raw-limit-size {
    max-width: 1200px;
  }
  .hero .glare {
    width: 480px;
    height: 600px;
    filter: blur(100px);
  }
}/*# sourceMappingURL=style.css.map */